.smoothmg-color-control .components-base-control__field {
  margin-bottom: 0;
}

.smoothmg-color-control__picker > div:last-child {
  padding-top: 8px;
}

.smoothmg-color-control__picker > div:last-child > div:last-child {
  padding-bottom: 8px;
}
